<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask BBC News</title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        
        {% for new, des, url, i, pub, auth in context %}
        
        <img src="{{i}}" alt="">
        <h2>{{new}}</h2> 
        <p>{{des}}<a href={{url}}>Read More</a></p> 
        <p>Published: {{pub}}</p> 
        <p>By: {{auth}}</p>

        {% endfor %}
    </div>
 
 
</body>
</html>