{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
    {% for new, des, url, i, pub, auth in context %}
        <div class="card" style="width: 50rem;">
            <img class="card-img-top" src="{{i}}" alt="Card image cap">
            <div class="card-body">
            <h2 class="card-title">{{new}}</h2> 
            <p class="card-text">{{des}}<a href={{url}}> Read More...</a></p>
            <p>Published: {{pub|truncate(13)}}</p> 
            <p>By: {{auth}}</p>
            </div>
        </div>
    {% endfor %}      
{% endblock%}

