<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="btn btn-link"><a href="/">Home</a></button>
            <button class="btn btn-link"><a href="/bbc">BBC News</a></button>
            <button class="btn btn-link"><a href="/aljeezera">Aljeezera</a></button> 
            <button class="btn btn-link"><a href="/cbc">CBC News</a></button>
            <button class="btn btn-link"><a href="/cnn">CNN News</a></button> 
            <button class="btn btn-link"><a href="/fortune">Fortune</a></button>  
            <button class="btn btn-link"><a href="/medical">Medical News</a></button>
            <button class="btn btn-link"><a href="/source">All Source Websites</a></button>

        </div>
    </div>
</div>